html{
    height:500;

}

#logo{
    top:10%;
    left:5%;
    position:absolute;
    width: 60%;
}

center{
    top:80%;
    left:30%;
    position:absolute;
}
button{
    background-color: red;
    color:white;
}