#ord{
    top:10%;
    left:5%;
    position:absolute;
    width: 60%;
    color:black;
}

#one{
    border-color: red;
    background-color:black;
    color:white;
    left:30%;

}

button{
    background-color: red;
    color:black;
}