#home{
   position: relative;
   text-align: center;
   opacity:0.9
      }


.logo{
    top:0%;
    left:5%;
    position:absolute;
    width: 40px;
    color:black;
}



#ord a{
    top: 60%;
    left:20%;
    color:red;
    position:absolute;
    background-color:black;
    font-size: 30px;
    background-size:40px;
    border-radius: 8px;
    font-style: normal;
    text-decoration:none;
}

#vid a{
    top: 60%;
    left:40%;
    position:absolute;
    background-color:red;
    font-size: 30px;
    border-radius: 8px;
    font-style:oblique; 
    text-decoration:none;
    color: black;  

}


.fa:hover {
    opacity: 0.10;
  }

.fa-facebook {
  top: 80%;
  left:1%;
  color:white;
  position:absolute;
  text-decoration: none;
  width:50px;
  }
  
.fa-twitter {
  top: 80%;
  left:8%;
  color:white;
  position:absolute;
  text-decoration: none;
  width:50px;
}

.fa-instagram{
  top: 80%;
  left:16%;
  color:white;
  position:absolute;
  text-decoration: none;
  width:50px;
  height:20px;
}

.container{
  display:none;
}
h1{
  top:35%;  
  position:absolute;
  left:10%;
  color: red;
  background-color: black;
  border-radius: 10px;
}