.first{
   position: relative;
   text-align: center;
   opacity:0.9
      }



.logo{
    top:50%;
    left:25%;
    position:absolute;
    border-radius:70%;
    position:absolute;
}



.ord a{
    top: 70%;
    left:40%;
    color:black;
    position:absolute;
}

.vid a{
    top: 80%;
    left:40%;
    color:black;
    position:absolute;
} 


