#home{
   position: relative;
   text-align: center;
   opacity:0.9
      }



.logo{
    top:0%;
    left:-10%;
    position:absolute;
    width: 60%;
    color:black;
}



#ord a{
    top: 60%;
    left:1%;
    color:red;
    position:absolute;
    background-color:black;
    font-size: 30px;
    background-size:40px;
    border-radius: 8px;
    font-style: oblique;
    text-decoration:none;
}

#vid a{
    top: 60%;
    left:20%;
    position:absolute;
    background-color:red;
    background-size:40px;
    font-size: 30px;
    border-radius: 8px;
    font-style:oblique; 
    text-decoration:none;
    color: black;

} 
 
.fa:hover {
    opacity: 0.10;
  }

.fa-facebook {
  top: 80%;
  left:1%;
  color:white;
  position:absolute;
  text-decoration: none;
  width:30%;
  }
  
.fa-twitter {
  top: 80%;
  left:4%;
  color:white;
  position:absolute;
  text-decoration: none;
  width:30%;
}

.fa-instagram{
  top: 80%;
  left:8%;
  color:white;
  position:absolute;
  text-decoration: none;
  width:30%;
}

.container{
  display:none;
}